<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>
<!-- 할인 쿠폰 -->
<div>
  <input type="checkbox" id="coupon-box" />
  <label for="coupon-box"> 5,000원 쿠폰 적용 </label>
</div>

<!-- 결제 UI -->
<div id="payment-method"></div>
<!-- 이용약관 UI -->
<div id="agreement"></div>

<!--결제 내역 표시 예정-->
<div>결제 내역 표시 예정</div>
<div th:each="current : ${currentOrder}">
  <h2>주문테이블 아이디 : <span th:text="${current.id}"></span></h2>
  <h2>주문테이블 번호 : <span th:text="${current.name}"></span></h2>

  <!-- 각 Order 출력 -->
  <div th:each="order : ${current.orders}">
    <h4>OrderId: <span id="orderId" th:text="${order.id}"></span></h4>

    <!-- 각 OrderItem 출력 -->
    <table>
      <thead>
      <tr>
        <th>orderItemId ||</th>
        <th>Item ID ||</th>
        <th>Name ||</th>
        <th>Item Price ||</th>
        <th>Count ||</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="orderItem : ${order.orderItems}">
        <td><span th:text="${orderItem.orderItemId}"></span></td>
        <td><span th:text="${orderItem.itemId}"></span></td> <!-- itemId 출력 -->
        <td><span id="ItemName" th:text="${orderItem.name}"></span></td> <!-- name 출력 -->
        <td><span th:text="${orderItem.price}"></span></td> <!-- price 출력 -->
        <td><span th:text="${orderItem.count}"></span></td> <!-- count 출력 -->
      </tr>
      </tbody>
    </table>
  </div>
  <!-- DiningTable의 총합 금액 -->
  <h5>총합가격: <span id="total-price" th:text="${current.totalDiningTablePrice}"></span></h5>

  <div>주문 ID: <span style="display:none" id="tossOrderId" th:text="${tossOrderId}"></span></div>
</div>

<!-- 결제하기 버튼 -->
<button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>

<script th:inline="javascript">
  const totalPriceElement = document.getElementById("total-price");
  const totalDiningTablePrice = parseInt(totalPriceElement.textContent, 10); // 총합가격 가져오기

  const tossOrderId = document.getElementById("tossOrderId");
  console.log(tossOrderId.textContent);

  const OrderName = Array.from(document.querySelectorAll("#ItemName")).map((el) => el.textContent.trim())
  .join(", ");
  console.log(OrderName);

  main();

  async function main() {
    const button = document.getElementById("payment-button");
    const coupon = document.getElementById("coupon-box");
    // ------  결제위젯 초기화 ------
    const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const tossPayments = TossPayments(clientKey);
    // 회원 결제
    const customerKey = "_Zgck0eAAIqeB68gdHRhO";
    const widgets = tossPayments.widgets({
      customerKey,
    });
    // 비회원 결제
    // const widgets = tossPayments.widgets({ customerKey: TossPayments.ANONYMOUS });

    // ------ 주문의 결제 금액 설정 ------
    await widgets.setAmount({
      currency: "KRW",
      value: totalDiningTablePrice,
    });

    await Promise.all([
      // ------  결제 UI 렌더링 ------
      widgets.renderPaymentMethods({
        selector: "#payment-method",
        variantKey: "DEFAULT",
      }),
      // ------  이용약관 UI 렌더링 ------
      widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
    ]);

    // ------  주문서의 결제 금액이 변경되었을 경우 결제 금액 업데이트 ------
    coupon.addEventListener("change", async function () {
      if (coupon.checked) {
        await widgets.setAmount({
          currency: "KRW",
          value: totalDiningTablePrice,
        });

        return;
      }

      await widgets.setAmount({
        currency: "KRW",
        value: totalDiningTablePrice,
      });
    });

    async function savePaymentRequest(orderId,amount) {
      const response = await fetch("/saveAmount", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          orderId: tossOrderId.textContent,
          amount: totalDiningTablePrice,
        }),
      });

      if (!response.ok) {
        throw new Error("Failed to save payment request.");
      }
    }

    // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
    button.addEventListener("click", async function () {


      await savePaymentRequest(orderId,totalDiningTablePrice);

      await widgets.requestPayment({
        orderId: tossOrderId.textContent,
        orderName: String(OrderName),
        successUrl: window.location.origin + "/success",
        failUrl: window.location.origin + "/fail",
      });
    });
  }
</script>
</body>
</html>